body {
  font-family: 'Karla', sans-serif;
  padding-top: 50px;
}

/*.img-logo {
  max-width: 350px;
 }*/

.navbar {
  background-color: #000;
}

.navbar-title {
  float: left;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #ddd;
}

.list-last {
  margin-top: 30px;
}

section {
  display: block;
}

.subsection {
  padding-bottom: 40px;
}

.subsection p {
  text-align: justify;
}

.subsection p a {
  font-weight: bold;
  text-decoration: underline;
  color: #333;
}

.layover-container {
  position: relative;
}

#content {
  width: 100%;
}

#about {
  background-color: #fff;
}

#about .section-title {
  color: #888;
}

#about img {
  border: 12px solid #ccc;
}

#about li {
  font-size: 14px;
  line-height: 35px;
}

.navbar ul li .nav-about {
  color: #fff;
}

.navbar ul li .nav-about:hover {
  color: #fff;
}

#school {
  background-color: #8bf;
}

#school .section-title {
  color: #458;
}

#school img {
  border: 12px solid #68c;
}

.navbar ul li .nav-school {
  color: #8bf;
}

.navbar ul li .nav-school:hover {
  color: #8bf;
}

#work {
  background-color: #fe6;
}

#work .section-title {
  color: #873;
}

#work img {
  border: 12px solid #cb5;
}

.navbar ul li .nav-work {
  color: #fe6;
}

.navbar ul li .nav-work:hover {
  color: #fe6;
}

#projects {
  background-color: #f8f;
}

#projects .section-title {
  color: #848;
}

#projects img {
  border: 12px solid #c6c;
}

.navbar ul li .nav-projects {
  color: #f8f;
}

.navbar ul li .nav-projects:hover {
  color: #f8f;
}

#other {
  background-color: #8c6;
}

#other .section-title {
  color: #463;
}

#other img {
  border: 12px solid #685;
}

.navbar ul li .nav-other {
  color: #8c6;
}

.navbar ul li .nav-other:hover {
  color: #8c6;
}

#other p {
  text-align: justify;
}

.layover-text a {
  pointer-events: all;
  margin: 0px 12px;
}

footer {
  font-size: 11px;
  color: #eee;
  background-color: #333;
  height: auto;
  padding: 4px 28px;
}

footer i,
footer span {
  margin: 5px; 
}

#carousel {
  margin-bottom: 20px;
  width: 100%;
}

.carousel-control {
  margin: 33% 20px;
}

.carousel-control,
.carousel-control:hover {
  background-image: none !important;
}

.item img {
  border-radius: 6px;
}

.carousel-caption {
  bottom: 0px;
  opacity: 0.67;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0px auto;
}

.carousel-linked-nav {
  width: 120px;
  margin-bottom: 20px;
}

.carousel-linked-nav a {
  color: #463 !important;
}

.pagination > .active > a,
.pagination > .active > a:hover {
  background-color: #685;
  border-color: #463;
  color: #fff !important;
}

.clicky {
  display: none;
}

/* small screen */

@media
(max-width: 800px) {
  .nav-a span {
    margin-left: 10px;
  }

  #links {
    float: left !important;
    padding: Opx 0px 10px 20px;
  }
  #lead {
    float: right !important;
    padding: 10px;
    text-align: right;
  }
  #me {
    width: 75%;
    margin: auto;
  }

  section {
    padding: 16px;
  }

  .section-title p {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .ssr-left,
  .ssr-right {
    margin: auto;
  }
  .ssr-left.ssr-text h2,
  .ssr-right.ssr-text h2,
  .ssr-left.ssr-text h5,
  .ssr-right.ssr-text h5
  {
    text-align: center;
  }

  .center-mobile {
    text-align: center !important;
  }

  .img-logo {
    max-width: max(276px, 75%);
   }

  .layover-bg {
    display: none;
  }
  
  .layover-container div {
    margin-top: 18px;
  }

  .layover-text {
    color: #333;
    text-align: center;
  }

  .foot-left,
  .foot-right {
    text-align: center;
  }
}

/* large screen */

@media
(min-width: 801px) {
  .nav-a {
    width: 120px;
    text-align: center;
  }
  .nav-a span {
    vertical-align: text-bottom;
    font-size: 24px;
  }

  #links {
    margin-left: -96px;
  }
  #me {
    float: right !important;
  }

  section {
    padding: 48px 192px;
  }

  .section-title p {
    font-size: 72;
    font-weight: bold;
  }

  .ssr-left {
    float: left !important;
  }
  .ssr-right {
    float: right !important;
  }
  .ssr-right.ssr-text {
    text-align: right;
  }
  .ssr-left.ssr-text {
    padding-right: 50px;
  }
  .ssr-right.ssr-text {
    padding-left: 50px;
  }

  .center-mobile {
    text-align: inherit !important;
  }

  .img-logo {
    max-width: 350px;
   }
  .layover-container img {
    z-index: 1;
  }

  .layover-container div {
    pointer-events: none;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
    height: 45%;
  }

  .layover-bg {
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 2;
  }

  .layover-text {
    color: #eee;
    text-align: center;
    padding: 10% 0px;
    z-index: 3;
  }

  .foot-left {
    float: left !important;
  }
  .foot-right {
    float: right !important;
    text-align: right;
  }
}
