body {
  font-family: 'ABeeZee', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(181, 137, 0);
}

a:hover {
  font-style: italic;
}

footer {
  font-size: smaller;
}

.hidden {
  display: none;
}
